[Desktop Entry]
Type=Application
Version=1.0
Name=Dragon Player
GenericName=Video Player
GenericName[ga]=Seinnteoir Físe
Icon=dragonplayer
TryExec=dragon
Exec=dragon %u
MimeType=video/x-theora;video/x-ogm;video/x-ms-wmv;video/x-msvideo;video/x-ms-asf;video/x-matroska;video/mpeg;video/avi;video/quicktime;video/vnd.rn-realvideo;video/x-flic;
Categories=Qt;KDE;AudioVideo;Player;
