[Desktop Entry]
X-KDE-Solid-Predicate=[[ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Data|VideoDvd' ] OR [ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Data|VideoDvd' ]]
Type=Service
Actions=open;

[Desktop Action open]
Name=Open with Video Player (Dragon Player)
Name[cs]=Otevřít ve video přehrávači (Gragon)
Name[et]=Ava videomängijas (Dragoni mängija)
Name[ga]=Oscail le seinnteoir físe (Dragon Player)
Name[gl]=Abrir co reprodutor de vídeo (Dragon Player)
Name[km]=បើក​ជា​មួយ​កម្មវិធី​ចាក់​វីដេអូ (កម្មវិធី​ចាក់ Dragon)
Name[nds]=Mit Videafspeler opmaken (Draken-Speler)
Name[nn]=Opna med filmspelar (Dragon Player)
Name[pt]=Abrir com o Leitor de Vídeo (Dragon Player)
Name[pt_BR]=Abrir com o reprodutor de vídeo (Dragon Player)
Name[sv]=Öppna med videospelare (Dragon)
Name[uk]=Відкрити у програвачі відео (Програвач Dragon)
Name[zh_CN]=用视频播放器打开(Dragon Player)
Name[zh_TW]=以影像播放器（神龍播放器）開啟
Exec=dragon --play-dvd
Icon=dragonplayer
