[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Audio' ]
Type=Service
Actions=open;

[Desktop Action open]
Name=Play Audio CD using Dragon Player
Name[bg]=Възпроизвеждане на звуково CD с Dragon
Name[ca]=Reprodueix CD d'àudio amb el Dragon Player
Name[cs]=Přehrát Audio CD pomocí přehrávače Dragon
Name[de]=Audio-CD mit Dragon Player abspielen
Name[en_GB]=Play Audio CD using Dragon Player
Name[es]=Reproducir CD de audio con Dragon Player
Name[fi]=Toista ääni-CD Dragon-soittimessa
Name[gl]=Reproducir un CD de son con Dragon Player
Name[it]=Leggi CD Audio con Dragon Player
Name[ko]=Dragon Player로 오디오 CD 열기
Name[nb]=Spill lyd-CD med Dragon Player
Name[nl]=Met Dragon Player een audio-cd afspelen
Name[pl]=Odtwórz CD z muzyką za pomocą Dragon Player
Name[pt]=Reproduzir o CD de Áudio com o Dragon Player
Name[pt_BR]=Reproduzir CD de áudio com o Dragon Player
Name[sk]=Prehrať Audio CD pomocou prehrávača Dragon
Name[sl]=Predvajaj glasbeni CD v programu Dragon Player
Name[sr]=Пусти аудио ЦД Змајевим плејером
Name[sr@ijekavian]=Пусти аудио ЦД Змајевим плејером
Name[sr@ijekavianlatin]=Pusti audio CD Zmajevim plejerom
Name[sr@latin]=Pusti audio CD Zmajevim plejerom
Name[sv]=Spela ljud-cd med Dragon spelare
Name[tr]=Müzik CD'sini Dragon Player ile Oynat
Name[uk]=Відтворити звуковий КД за допомогою програвача Dragon
Name[x-test]=xxPlay Audio CD using Dragon Playerxx
Exec=dragon --play-dvd
Icon=dragonplayer
