[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Audio' ]
Type=Service
Actions=open;

[Desktop Action open]
Name=Play Audio CD using Dragon Player
Name[ar]=شغّل أسطواناتك الصّوتيّة باستخدام «مشغّل التّنّين»
Name[bg]=Възпроизвеждане на звуково CD с Dragon
Name[ca]=Reprodueix CD d'àudio amb el Dragon Player
Name[ca@valencia]=Reprodueix CD d'àudio amb el Dragon Player
Name[cs]=Přehrát Audio CD pomocí přehrávače Dragon
Name[da]=Afspil lydcd med Dragon Player
Name[de]=Audio-CD mit Dragon Player abspielen
Name[el]=Αναπαραγωγή CD ήχου με το Dragon Player
Name[en_GB]=Play Audio CD using Dragon Player
Name[es]=Reproducir CD de audio con Dragon Player
Name[et]=Audio CD esitamine Dragoni mängijaga
Name[eu]=Jo audio CDa Dragon Player erabiliz
Name[fi]=Toista ääni-CD Dragon Playerissä
Name[fr]=Lire le CD audio avec Dragon Player
Name[gl]=Reproducir un CD de son con Dragon Player
Name[hu]=Hang CD lejátszása a Dragon Playerrel
Name[ia]=Reproduce Audio CD con Dragon Player
Name[id]=Putar Audio CD menggunakan Dragon Player
Name[is]=Spila CD-hljómdisk með Dragon spilaranum
Name[it]=Leggi CD Audio con Dragon Player
Name[ko]=Dragon Player로 오디오 CD 열기
Name[nb]=Spill lyd-CD med Dragon Player
Name[nl]=Met Dragon Player een audio-cd afspelen
Name[nn]=Spel lyd-CD med Dragon Player
Name[pa]=ਡਰੈਗਨ ਪਲੇਅਰ ਨਾਲ ਆਡੀਓ CD ਚਲਾਓ
Name[pl]=Odtwórz CD z muzyką za pomocą Dragon Player
Name[pt]=Reproduzir o CD de Áudio com o Dragon Player
Name[pt_BR]=Reproduzir CD de áudio com o Dragon Player
Name[ru]=Воспроизвести компакт-диск в Dragon Player
Name[sk]=Prehrať Audio CD pomocou prehrávača Dragon
Name[sl]=Predvajaj glasbeni CD v programu Dragon Player
Name[sr]=Пусти аудио ЦД Змајевим плејером
Name[sr@ijekavian]=Пусти аудио ЦД Змајевим плејером
Name[sr@ijekavianlatin]=Pusti audio CD Zmajevim plejerom
Name[sr@latin]=Pusti audio CD Zmajevim plejerom
Name[sv]=Spela ljud-cd med Dragon spelare
Name[tr]=Müzik CD'sini Dragon Player ile Oynat
Name[uk]=Відтворити звуковий КД за допомогою програвача Dragon
Name[x-test]=xxPlay Audio CD using Dragon Playerxx
Name[zh_CN]=用 Dragon Player 播放音频 CD
Name[zh_TW]=用神龍播放器播放音樂 CD
Exec=dragon --play-dvd
Icon=dragonplayer
