[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Data|VideoDvd' ]
Type=Service
Actions=open;

[Desktop Action open]
Name=Open with Video Player (Dragon Player)
Name[bg]=Отваряне с програма за видео (Dragon Player)
Name[bs]=Otvori programom Dragon Player
Name[ca]=Obre amb el reproductor de vídeo (Dragon Player)
Name[cs]=Otevřít v přehrávači videa (Dragon)
Name[da]=Åbn med videoafspiller (Dragon Player)
Name[de]=Mit der Video-Wiedergabe öffnen (Dragon Player)
Name[el]=Άνοιγμα με πρόγραμμα αναπαραγωγής βίντεο (Dragon Player)
Name[es]=Abrir con el reproductor de vídeo (Dragon Player)
Name[et]=Avamine videomängijas (Dragoni mängija)
Name[fi]=Avaa videosoittimeen (Dragon Player)
Name[fr]=Ouvrir avec le lecteur vidéo (Dragon Player)
Name[ga]=Oscail le seinnteoir físe (Dragon Player)
Name[gl]=Abrir co reprodutor de vídeo (Dragon Player)
Name[hu]=Megnyitás videolejátszóval (Dragon Player)
Name[ia]=Aperi con Video Player (Dragon Player)
Name[it]=Apri con riproduttore video (Dragon Player)
Name[kk]=Бейне (Dragon) ойнатқышында ашу
Name[km]=បើក​ជា​មួយ​កម្មវិធី​ចាក់​វីដេអូ (កម្មវិធី Dragon)
Name[ko]=동영상 재생기로 열기 (Dragon Player)
Name[lt]=Atverti su Video grotuvu (Dragon Player)
Name[mr]=व्हिडीओ प्लेयर मध्ये उघडा (ड्रेगोन प्लेयर)
Name[nb]=Åpne med filmspiller (Dragon Player)
Name[nds]=Mit Videoafspeler opmaken (Drakenspeler)
Name[nl]=Openen met videospeler (Dragon Player)
Name[nn]=Opna med filmspelar (Dragon Player)
Name[pa]=ਵਿਡੀਓ ਪਲੇਅਰ (ਡਰੈਗਨ ਪਲੇਅਰ) ਨਾਲ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz w odtwarzaczu filmów (Dragon Player)
Name[pt]=Abrir com o Leitor de Vídeo (Dragon Player)
Name[pt_BR]=Abrir com o reprodutor de vídeo (Dragon Player)
Name[ro]=Deschide cu lectorul video (Dragon Player)
Name[ru]=Открыть в видеопроигрывателе (Dragon Player)
Name[sk]=Otvoriť pomocou prehrávača videa (Dragon)
Name[sl]=Odpri s predvajalnikom videa (Dragon Player)
Name[sr]=Отвори Змајевим плејером
Name[sr@ijekavian]=Отвори Змајевим плејером
Name[sr@ijekavianlatin]=Otvori Zmajevim plejerom
Name[sr@latin]=Otvori Zmajevim plejerom
Name[sv]=Öppna med videospelare (Dragon)
Name[tr]=Video Oynatıcı ile Aç (Dragon Player)
Name[uk]=Відкрити у програвачі відео (Програвач Dragon)
Name[x-test]=xxOpen with Video Player (Dragon Player)xx
Name[zh_CN]=用视频播放器打开(Dragon Player)
Name[zh_TW]=以影像播放器（神龍播放器）開啟
Exec=dragon --play-dvd
Icon=dragonplayer
