[Desktop Entry]
ServiceTypes=media/dvdvideo
Actions=Play;
Encoding=UTF-8
X-KDE-Priority=TopLevel

[Desktop Action Play]
Name=Play DVD with Dragon Player
Icon=dragonplayer
Exec=dragon --play-dvd %u
