[Desktop Entry]
Type=Service
Actions=Play;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,media/dvdvideo
X-KDE-Priority=TopLevel

[Desktop Action Play]
Name=Play DVD with Dragon Player
Name[ga]=Seinn DVD le Dragon Player
Name[ko]=Dragon 플레이어로 DVD 재생하기
Name[zh_TW]=使用 Dragon Player 播放 DVD
Icon=dragonplayer
Exec=dragon --play-dvd %u
