[Desktop Entry]
Type=Service
Icon=dragonplayer
Name=Dragon Player Part
Name[cs]=Komponenta přehrávače Dragon
Name[de]=Dragon-Player-Komponente
Name[el]=Τμήμα Dragon Player
Name[gl]=Compoñente do Dragon Player
Name[nb]=Dragon Player-del
Name[nl]=Dragon Player-component
Name[nn]=Dragon Player-del
Name[pl]=Moduł odtwarzacza Dragon Player
Name[pt]=Componente do Dragon Player
Name[pt_BR]=Componente do Dragon Player
Name[sk]=Komponent prehrávača Dragon
Name[sv]=Dragon videodelprogram
Name[uk]=Складова програвача Dragon
Name[x-test]=xxDragon Player Partxx
Name[zh_CN]=Dragon Player 部件
Name[zh_TW]=神龍播放器部件
Comment=Embeddable Video Player
Comment[cs]=Vložený přehrávač videa
Comment[de]=Einbettbarer Videospieler
Comment[el]=Ενσωματώσιμο πρόγραμμα αναπαραγωγής βίντεο
Comment[gl]=Reprodutor incrustábel de vídeo
Comment[nb]=Innebyggbar filmspiller
Comment[nl]=Inbedbare videospeler
Comment[nn]=Innebygd filmspelar
Comment[pl]=Osadzony odtwarzacz filmów
Comment[pt]=Leitor de Vídeo Incorporado
Comment[pt_BR]=Reprodutor de vídeo incorporado
Comment[sk]=Vložiteľný prehrávač videa
Comment[sv]=Inbäddningsbar videospelare
Comment[uk]=Програвач відео
Comment[x-test]=xxEmbeddable Video Playerxx
Comment[zh_CN]=可嵌入的视频播放器
Comment[zh_TW]=嵌入式影像播放器
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=dragonpart
InitialPreference=9
MimeType=video/ogg;video/x-theora+ogg;video/x-ogm+ogg;video/x-ms-wmv;video/x-msvideo;video/x-ms-asf;video/x-matroska;video/mpeg;video/avi;video/quicktime;video/vnd.rn-realvideo;video/x-flic;video/mp4;
