[Desktop Entry]
Type=Application
Version=1.0
Name=Dragon Player
Name[ar]=مشغل دراجن
Name[bg]=Програма за видео Dragon
Name[ca]=Dragon Player
Name[cs]=Přehrávač Dragon
Name[da]=Dragon Player
Name[de]=Dragon Player
Name[el]=Αναπαραγωγέας Dragon
Name[en_GB]=Dragon Player
Name[es]=Dragon Player
Name[et]=Dragoni mängija
Name[eu]=Dragon erreproduzitzailea
Name[fr]=Dragon Player
Name[ga]=Dragon Player
Name[gl]=Dragon Player
Name[he]=נגן Dragon
Name[hne]=ड्रेगन प्लेयर
Name[hu]=Dragon Player
Name[is]=Dragon spilari
Name[it]=Dragon Player
Name[ja]=Dragon Player
Name[km]=កម្មវិធី​ចាក់ Dragon
Name[ko]=Dragon 플레이어
Name[ku]=Lêdarê Dragon
Name[lt]=Dragon Player
Name[lv]=Dragon Player
Name[nb]=Dragon Player
Name[nds]=Drakenspeler
Name[nl]=Dragon Player
Name[nn]=Dragon Player
Name[pa]=ਡਰੈਗਨ ਪਲੇਅਰ
Name[pl]=Odtwarzacz Dragon Player
Name[pt]=Dragon Player
Name[pt_BR]=Dragon Player
Name[ro]=Dragon Player
Name[ru]=Dragon Player
Name[sk]=Prehrávač Dragon
Name[sl]=Dragon Player
Name[sr]=Змајев плејер
Name[sr@latin]=Zmajev plejer
Name[sv]=Dragon videospelare
Name[th]=โปรแกรมเล่นสื่อ Dragon Player
Name[tr]=Dragon Player
Name[uk]=Програвач Dragon
Name[wa]=Djouweu Dragon
Name[x-test]=xxDragon Playerxx
Name[zh_CN]=Dragon Player
Name[zh_TW]=神龍播放器
GenericName=Video Player
GenericName[ar]=مشغل فيديو
GenericName[bg]=Програма за възпроизвеждане на видео
GenericName[ca]=Reproductor de vídeo
GenericName[cs]=Přehrávač videa
GenericName[da]=Videoafspiller
GenericName[de]=Video-Wiedergabe
GenericName[el]=Αναπαραγωγέας βίντεο
GenericName[en_GB]=Video Player
GenericName[es]=Reproductor de vídeo
GenericName[et]=Videomängija
GenericName[eu]=Bideo erreproduzitzailea
GenericName[fr]=Lecteur vidéo
GenericName[ga]=Seinnteoir Físe
GenericName[gl]=Reprodutor de vídeo
GenericName[he]=נגן וידאו
GenericName[hne]=वीडियो प्लेयर
GenericName[hu]=Videólejátszó
GenericName[is]=Vídeóspilari
GenericName[it]=Riproduttore video
GenericName[ja]=動画プレーヤー
GenericName[km]=កម្មវិធី​ចាក់​វីដេអូ
GenericName[ko]=동영상 재생기
GenericName[ku]=Lêdera Vîdeoyê
GenericName[lt]=Video grotuvas
GenericName[lv]=Video atskaņotājs
GenericName[mai]=वीडियो प्लेयर
GenericName[nb]=Videospiller
GenericName[nds]=Videoafspeler
GenericName[nl]=Videospeler
GenericName[nn]=Filmspelar
GenericName[pa]=ਵੀਡਿਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz wideo
GenericName[pt]=Leitor de Vídeo
GenericName[pt_BR]=Reprodutor de vídeo
GenericName[ro]=Program de redare video
GenericName[ru]=Видеопроигрыватель
GenericName[sk]=Prehrávač videa
GenericName[sl]=Predvajalnik videov
GenericName[sr]=Видео плејер
GenericName[sr@latin]=Video plejer
GenericName[sv]=Videospelare
GenericName[th]=โปรแกรมเล่นวิดีโอ
GenericName[tr]=Video Oynatıcı
GenericName[uk]=Відеопрогравач
GenericName[wa]=Djouweu di videyos
GenericName[x-test]=xxVideo Playerxx
GenericName[zh_CN]=视频播放器
GenericName[zh_TW]=影像播放器
Icon=dragonplayer
X-DocPath=dragonplayer/index.html
TryExec=dragon
Exec=dragon %u
MimeType=video/ogg;video/x-theora+ogg;video/x-ogm+ogg;video/x-ms-wmv;video/x-msvideo;video/x-ms-asf;video/x-matroska;video/mpeg;video/avi;video/quicktime;video/vnd.rn-realvideo;video/x-flic;video/mp4;
Categories=Qt;KDE;AudioVideo;Player;
