[Desktop Entry]
Type=Application
Version=1.0
Name=Dragon Player
Name[el]=Αναπαραγωγέας Dragon
Name[et]=Dragoni mängija
Name[ja]=Dragon プレーヤ
Name[km]=កម្មវិធី​ចាក់ Dragon
Name[ko]=Dragon 플레이어
Name[nds]=Draken-Speler
Name[sv]=Dragon videospelare
Name[th]=โปรแกรมเล่นสื่อ Dragon Player
Name[uk]=Програвач Dragon
Name[x-test]=xxDragon Playerxx
Name[zh_TW]=神龍播放器
GenericName=Video Player
GenericName[ca]=Reproductor de vídeo
GenericName[da]=Videoafspiller
GenericName[de]=Video-Wiedergabe
GenericName[el]=Αναπαραγωγέας βίντεο
GenericName[et]=Videomängija
GenericName[ga]=Seinnteoir Físe
GenericName[gl]=Reproductor de vídeo
GenericName[hu]=Videólejátszó
GenericName[ja]=動画プレーヤ
GenericName[km]=កម្មវិធី​ចាក់​វីដេអូ
GenericName[ko]=동영상 재생기
GenericName[lt]=Video grotuvas
GenericName[lv]=Video atskaņotājs
GenericName[nds]=Videoafspeler
GenericName[pt]=Leitor de Vídeo
GenericName[pt_BR]=Reprodutor de Vídeo
GenericName[sv]=Videospelare
GenericName[th]=โปรแกรมเล่นวิดีโอ
GenericName[tr]=Video Oynatıcı
GenericName[uk]=Відеопрогравач
GenericName[x-test]=xxVideo Playerxx
GenericName[zh_CN]=视频播放器
GenericName[zh_TW]=影像播放器
Icon=dragonplayer
X-DocPath=dragonplayer/index.html
TryExec=dragon
Exec=dragon %u
MimeType=video/x-theora;video/x-theora+ogg;video/x-ogm;video/x-ogm+ogg;video/x-ms-wmv;video/x-msvideo;video/x-ms-asf;video/x-matroska;video/mpeg;video/avi;video/quicktime;video/vnd.rn-realvideo;video/x-flic;video/mp4;
Categories=Qt;KDE;AudioVideo;Player;
