[Desktop Entry]
Type=Service
Actions=Play;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,media/dvdvideo
X-KDE-Priority=TopLevel

[Desktop Action Play]
Name=Play DVD with Dragon Player
Name[ca]=Reprodueix DVD amb el Dragon Player
Name[cs]=Přehrát DVD pomocí přehrávače Dragon
Name[da]=Afspil dvd med Dragon Player
Name[de]=DVD mit dem Dragon Player abspielen
Name[el]=Αναπαραγωγή DVD με το Dragon
Name[es]=Ejecutar DVD con reproductor Dragón
Name[et]=Esita DVD Dragoni mängijaga
Name[fr]=Lire un DVD avec Dragon Player
Name[ga]=Seinn DVD le Dragon Player
Name[gl]=Reproducir o DVD co Dragon Player
Name[hu]=DVD-lejátszás a Dragon Playerrel
Name[it]=Riproduci DVD con Dragon Player
Name[ja]=Dragon Player で DVD を再生
Name[km]=ចាក់ DVD ជាមួយ​កម្មវិធី​ចាក់ Dragon
Name[ko]=Dragon 플레이어로 DVD 보기
Name[lt]=Groti DVD su Dragon Player
Name[lv]=Atskaņot DVD ar Dragon Player
Name[nds]=DVD mit den Draken-Speler afspelen
Name[nl]=DVD met Dragon Player afspelen
Name[nn]=Spel DVD med Dragon Player
Name[pl]=Odtwórz DVD za pomocą Dragon Playera
Name[pt]=Reproduzir o DVD com o Dragon Player
Name[pt_BR]=Reproduza um DVD com o Dragon Player
Name[ru]=Воспроизведение DVD в Dragon Player
Name[sl]=Predvajaj DVD z Dragon Player
Name[sv]=Spela dvd med Dragon videospelare
Name[th]=เล่นแผ่นดีวีดีด้วยโปรแกรมเล่นสื่อ Dragon Player
Name[tr]=DVDyi Dragon Player ile Oynat
Name[uk]=Грати DVD програвачем Dragon
Name[x-test]=xxPlay DVD with Dragon Playerxx
Name[zh_CN]=以 Dragon Player 播放 DVD
Name[zh_TW]=用神龍播放器播放 DVD
Icon=dragonplayer
Exec=dragon --play-dvd %u
