[Desktop Entry]
Encoding=UTF-8
Icon=dragonplayer
MimeType=video/x-theora;video/x-ogm;video/x-ms-wmv;video/x-msvideo;video/x-ms-asf;video/x-matroska;video/mpeg;video/avi;video/quicktime;video/vnd.rn-realvideo;video/x-flic;video/mp4;
Name=Dragon Player
Name[ko]=Dragon 플레이어
Name[zh_TW]=神龍播放器
Comment=Embeddable Video Player
Comment[ga]=Seinnteoir Físe Inleabaithe
Comment[ko]=끼워넣을 수 있는 동영상 재생기
Comment[zh_TW]=嵌入式影像播放器
ServiceTypes=KParts/ReadOnlyPart
Type=Service
X-KDE-Library=dragonpart
InitialPreference=9
