[Desktop Entry]
Name=Video Player
Name[ja]=動画プレーヤ
Name[pt]=Leitor de Vídeo
Name[pt_BR]=Reprodutor de Vídeo
Name[sv]=Videospelare
Exec=videoplayer %u
Icon=videoplayer
Type=Application
Encoding=UTF-8
MimeType=video/x-theora;video/x-ogm;video/x-ms-wmv;video/x-msvideo;video/x-ms-asf;video/x-matroska;video/mpeg;video/avi;video/quicktime;video/vnd.rn-realvideo;video/x-flic;
Categories=Qt;KDE;AudioVideo;Player
GenericName=Video Player
GenericName[de]=Video-Abspieler
GenericName[ja]=動画プレーヤ
GenericName[pt]=Leitor de Vídeo
GenericName[pt_BR]=Reprodutor de Vídeo
GenericName[sv]=Videospelare
