[Desktop Entry]
ServiceTypes=media/dvdvideo
Actions=Play;
Encoding=UTF-8
X-KDE-Priority=TopLevel

[Desktop Action Play]
Name=Play DVD with Codeine
Name[el]=Αναπαραγωγή DVD με το Codeine
Icon=codeine
Exec=codeine --play-dvd %u
